#climber {
    transform-origin: top 67%; /* IE 10+, Firefox, etc. */
    -webkit-transform-origin: top 67%; /* Chrome */
    -ms-transform-origin: top 67%; /* IE 9 */
    z-index:3;
    max-height:30%;
}

#rock {
	z-index:2;
	left: -20;
	top: -20;
	height: 110%;
}

#sky {
	z-index:1;
	height: 110%;
	top: -20%;
}

img {
	position: absolute;
}
