@charset "utf-8";
/* CSS Document */

#colors .color {
	opacity: 1;
}

#colors > * {
	border-radius: 0;
}

.full-width-slider input {
    display: none !important;
}

#div_punta .ui-btn-up-c, #div_punta .ui-btn-hover-c{
	size: 100px !important;
	background-image:none;
	background:black;
}

#div_punta .ui-slider-track .ui-btn.ui-slider-handle{
	border-radius:50%;
}

.full-width-slider .ui-slider-track {
    margin-left: 15px;
}

#div_canvas {
	padding: 0;
	margin: 0;
}

.imatge_solucio {
	max-height: 200px;
}

.eliminar_imatge {
    position:absolute; 
	bottom:0; 
	right:0;
	color:#F00;
}

.contenidor_imatge {
	position: relative; 
	display: inline-block;
}