#climber {
    transform-origin: top 67%; /* IE 10+, Firefox, etc. */
    -webkit-transform-origin: top 67%; /* Chrome */
    -ms-transform-origin: top 67%; /* IE 9 */
    z-index:3;
    max-height:30%;
}

#rock {
	z-index:2;
	left: -20px;
	top: -20px;
	height: 110%;
	vertical-align: middle;
}

#sky {
	z-index:1;
	top: -20px;
	height: 110%;
	vertical-align: middle;
	left: 50%;
    margin-right: -50%;
}

img {
	position: absolute;
}
