@charset "utf-8";
/* CSS Document */

#colors .color {
	opacity: 1;
}

#colors > * {
	border-radius: 0;
}

#div_canvas {
	padding: 0;
	margin: 0;
}

.eliminar_imatge {
    position:absolute; 
	bottom:0; 
	right:0; 
}

.contenidor_imatge {
	position: relative; 
	display: inline-block;
}
