#gear {
    transform-origin: 10% 10%; /* IE 10+, Firefox, etc. */
    -webkit-transform-origin: 10% 10%; /* Chrome */
    -ms-transform-origin: 10% 10%; /* IE 9 */
    z-index:3;
    height:8%;
    top:53%;
}

#rock {
	z-index:2;
	right: 30%;
	height: 100%;
}

#sky {
	top: -11%;
	z-index:1;
	height: 122%;
	width: auto;
}

#canvas {
	z-index:10;
}

img, canvas {
	position: fixed;
}

div, body {
	padding:0px;
	margin:0px;
}
