<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.proves.approva_dw_pg"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>approva_dw_pg</name>

    <description>
        porves varies. Aixo es la descripcio per cert
    </description>

    <author href="http://www.marca.com/">
        Jo soc lautor, aniol riu
    </author>

</widget>