<?xml version='1.0' encoding='utf-8'?>
<widget 
	xmlns="http://www.w3.org/ns/widgets" 
	xmlns:gap="http://phonegap.com/ns/1.0"
	id="com.articapps.routeangle" 
	version="0.0.1"
	versionCode="1" >
<name>Route Angle</name>
<description>This app determines the inclination of a climbing route</description>
<author email="artic.vb@gmail.com">
	Aniol Riu
</author>
<preference name="fullscreen" value="true" />

<gap:plugin name="org.apache.cordova.device-motion"/>
</widget>
