<?xml version='1.0' encoding='utf-8'?>
<widget 
	xmlns="http://www.w3.org/ns/widgets" 
	xmlns:gap="http://phonegap.com/ns/1.0"
	id="com.articapps.proves" 
	version="1.0.0"
	versionCode="1" >
	<name>Boxing</name>
	<description>This app shows your boxing power.</description>
	<author email="artic.vb@gmail.com">
		Aniol Riu
	</author>
	<gap:plugin name="com.phonegap.plugins.pushplugin" spec="2.5.0" source="pgb" />
</widget>